body{
    background-image: linear-gradient(#ffffff, #a6b8d33a);
}

.Space{
    margin-right: 25px;
}

.v{
    color: red;
}

.a{
    padding-top: 5px;
    padding-bottom: 8px;
}

.b{
    border: 1px solid black;
}

.gr{
    color: #808080;
}

.imgHome{
    padding-top: 3px;
}

.p{
    padding-top: 200px;
    padding-bottom: 215px;
}
  
.center{
    text-align: center;
}